@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
  background-color: #121a32;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green {
  color: #3bcd3b;
}

.red {
  color: rgb(222, 60, 60);
}
.yellow {
  color: yellow;
}
.prev-head {
  padding-bottom: 100px;
}
.sub {
  font-size: 30px;
  color: red;
  padding-top: 30px;
  padding-bottom: 20px;
}
.prev-body {
  font-size: 18px;
}

.list {
  padding-top: 20px;
}
.pie {
  margin: auto;
  width: 55%;
  padding: 3%;
  border-radius: 1.5px;
}
