@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
  background-color: #121a32;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
