@tailwind base;
@tailwind components;
@tailwind utilities;

/*index styling*/
body {
  color: white;
  background-color: #121a32;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green {
  color: #3bcd3b;
}

.red {
  color: rgb(222, 60, 60);
}
.yellow {
  color: yellow;
}
.PreventionPage-cont {
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 5%;
}
.prev-head {
  display: flex;
  margin:auto;
  padding-top: 70px;
  padding-bottom: 30px;
  justify-content: center;
}
.slogan-pp {
  text-align: center;
  
}
.sub {
  font-size: 45px;
  color: rgba(92, 230, 99, 0.76);
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.prev-body {
  font-size: 25px;
  padding-bottom: 100px;
}

.list {
  padding-top: 20px;
}
.pie {
  margin: auto;
  width: 55%;
  padding: 3%;
  border-radius: 1.5px;
}

.l-cont {
  flex-wrap: wrap;
}
.l-cont-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.l-cont-g {
  width: 65%;
  margin: 3%;
}
.l-cont-p {
  width: 65%;
  margin: 3%;
}
.src-h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(203, 224, 82);
}
.src-ui {
  text-align: center;
  font-size: 18px;
}
.nf-head {
  color: rgb(221, 221, 59);
  font-size: 40px;
}
.nf-err {
  color: rgb(245, 73, 73);
  font-size: 100px;
}
.nf-sub {
  text-align: center;
  font-size: 30px;
}
.nf-a {
  color: rgb(221, 221, 59);
}

@media screen and (max-width: 1000px) {
  .landing {
    display: flex;
    flex-direction: column;
  }
  .landingImage {
    width: 70%;
  }
}
.prev-image{
  width:1000px;
  height:auto;
  margin:auto;
  padding-bottom: 30px;
}
.pp{
  flex-wrap: wrap;
}